@using Mix.Theme.Blog
@{
    var site = new Site(ViewBag.culture, Url);
    //var posts = await Helper.GetPosts(ViewBag.culture);
    
    var posts = await MixCmsHelper.GetPostlistByMeta<Mix.Cms.Lib.ViewModels.MixPosts.ReadMvcViewModel>(
        Context, 
        "getting-started",
        ViewBag.culture as string, 
        MixDatabaseNames.SYSTEM_TAG, 3, 1);
}
<header class="site-header">
    <partial name="../Widgets/SiteHeader.cshtml" model="site"/>
</header>

<main id="site-main" class="site-main outer error-content">
    <div class="inner">
        <section class="error-message">
            <h1 class="error-code">@Model.Title</h1>
            <p class="error-description">@Model.Excerpt</p>
            <a class="error-link" href="@site.Url">Go to the front page →</a>
        </section>
            @if(posts.Data.Items!=null){
            <div class="post-feed">
                @foreach(var post in posts.Data.Items){
                    <partial name="../Widgets/PostCard.cshtml" model="post" />
                }
            </div>
            }
    </div>
</main>
