@using Mix.Theme.Blog
@{
    string culture  = ViewBag.culture as string;
    var site = new Site(ViewBag.culture, Url);
    var posts = await Helper.GetPosts(culture);
}
<!-- Landing page -->
<partial name="../Modules/HomeHeader.cshtml" model="site" />

<!-- The main content area -->
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">            
            @{
                int index = 0;
                foreach (var post in posts.Data.Items)
                {
                    <!-- The tag below includes the markup for each post - Widgets/PostCard.cshtml -->
                    <partial name="../Widgets/PostCard.cshtml" model="post" view-data='@new ViewDataDictionary(ViewData) { { "index", index } }' />

                    index++;
                }
            }
        </div>
    </div>
</main>

<partial name="../Widgets/SiteHeader.cshtml" model="site" />
<partial name="../Widgets/SubscribeModal.cshtml" model="site" />
