@{
    var Navigation = Model;
}
<ul class="nav">
    @foreach (var item in Navigation.MenuItems)
    {
        string activedClass = item.IsActive ? "nav-current" : string.Empty;
        
        <li class="nav-home @activedClass"><a href="@item.Uri"><i class="@item.Icon"></i> @item.Title</a></li>
    }
</ul>
