@{
    var Site = Model;
}

<!-- Home Header -->

<header class="site-home-header">
    <partial name="../Widgets/HeaderBackground.cshtml" model="Site.CoverImage"/>
    
        <div class="inner">
            <partial name="../widgets/SiteNav.cshtml" model="Site"/>
            <div class="site-header-content">
                <h1 class="site-title">
                    @if(Site.Logo!=""){
                        <img class="site-logo" src="@Site.Logo" alt="@Site.Title" />
                    }else{
                        <TEXT>
                        @Site.Title
                        </TEXT>
                    }
                </h1>
                <h2 class="site-description">@Site.Description</h2>
            </div>
        </div>
    </div>
</header>
